body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  color: #7C90DB;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
    
.delete-form button {
  color: #FF5A5F;
  background-color: #F6D4BA;
  border-radius: 1vmin;
  border-color: #F6D4BA
}
    
li {
  list-style: none;
  line-height: 3.5vmin;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.25vmin;
  margin-top: 45vmin;
}

ul {
  margin-top: -0.5vmin;
}
